.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  transition: background-color 0.2s ease-in;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  cursor: pointer;

  &:hover {
    background-color: #f1f1f1;
  }

  span {
    font-size: 1rem;
    font-weight: 500;
    color: #333;

    &.completed {
      text-decoration: line-through;
      color: #888;
    }
  }
}
